/* #ticker .header {
    padding: 1rem;
    margin-bottom: 1rem;
    display: flex;
    justify-content: space-around;
    align-content: center;
}

#ticker .header div {
    min-width: 10rem;
}

#ticker #player .header {
    display: flex;
}

#ticker #player .container {
    display: flex;
}

#ticker #player .container > div {
    width: 100%;
}

#ticker #player .player-city {
    text-align: center;
}
#ticker #player .player-army {
    text-align: center;
}
#ticker #player .player-citizens {
    text-align: center;
}

#ticker #player .production-container {
    display: flex;
}

#ticker #player .production-slot {
    background-color: #999;
    width: 3rem;
    height: 3rem;    
}

#ticker #player .production-slot.disabled {
    background-color: #333;
} */