/*** HTML ELEMENTS ***************************/

body, html, #layout {
    height: 100vh;
    background-color: #d3dbe2;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

main {
    display: flex;
}

/*** TOOLS ***************************/

.opacity-hover:hover {
    opacity: 1;
}

.opacity-15 {
    opacity: 0.15;
}

.opacity-25 {
    opacity: 0.25;
}

.opacity-50 {
    opacity: 0.5;
}

.no-wrap {
    white-space: nowrap;
}

.center-cropped {
    width: 100%;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.no-select {
    -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Safari */
       -khtml-user-select: none; /* Konqueror HTML */
         -moz-user-select: none; /* Firefox */
          -ms-user-select: none; /* Internet Explorer/Edge */
              user-select: none; /* Non-prefixed version, currently supported by Chrome and Opera */
}

.modal .delete {
    position: absolute;
    left: 1rem;
}

.modal .save {
    width: 25%;
}

/*** LAYOUT ***************************/

#header-bg {
    height: 4rem;
    background-color: #1D2731;
    position: absolute;
    left: 0;
    right: 0;
    z-index: 0;
}

#layout {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 4rem auto 8rem 3rem;
    grid-template-areas:
        "header"
        "main"
        "footer"
        "disclaimer";
}

/*** HEADER ***************************/

header {
    grid-area: header;
    background-color: #1D2731;
}

header nav {
    display: grid;
    grid-template-columns: 12rem auto 12rem;

    margin: 0 auto;
    width: 960px;
    height: 100%;
    align-items: center;

    color: #ffffff;
    font-size: 12pt;
}

header > nav > ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

header > nav > ul > li {
    display: inline-block;
}

header > nav > ul > li > a {
    color: #ffffff;
    padding: 1rem 2rem;
}

header > nav > ul > li > a:hover {
    color: #ffffff;
    text-decoration: none;
    background-color: #2F4050;
    transition-duration: 500ms;
}

header > nav a.dropdown-toggle {
    cursor: pointer;
}

header nav .logo {
    margin-left: 2rem;
}

header nav .main-menu {    
    text-align: center;
    text-transform: uppercase;
}

header nav .user-menu {
    text-align: right;
    margin-right: 2rem;
}

header nav .user-menu .user-info {
    cursor: pointer;
}

header nav .user-menu img {
    margin-right: 0.5rem;
}

/*** MAIN ***************************/

main {
    margin: 0 auto;
    width: 960px;
    grid-area: main;
    background-color: #ffffff;
}

main .front-page {
    padding: 4rem;
}

main .front-page article {
    margin-bottom: 2rem;
}

main .front-page article.promoted {
    padding-bottom: 2rem;
    border-bottom: 1px solid #cccccc;
}

/*** FOOTER ***************************/

footer {
    grid-area: footer;
    background-color: #1D2731;
}

footer .footer-content {
    display: grid;
    grid-template-columns: 12rem auto 12rem;
    margin: 0 auto;
    width: 960px;
    height: 100%;
    align-items: center;
    color: #ffffff;
}

footer .footer-content .logo {
    margin-left: 2rem;
}

footer .footer-content .menu {
    text-align: center;
    text-transform: uppercase;
}

footer .footer-content .menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

footer .footer-content .menu ul li {
    display: inline-block;
}

footer .footer-content .menu ul li a {
    color: #ffffff;
    padding: 1rem 2rem;
}

footer .footer-content .menu ul li a:hover {
    color: #ffffff;
    text-decoration: none;
    background-color: #2F4050;
    transition-duration: 500ms;
}

footer .footer-content .social {
    margin-right: 2rem;
    text-align: right;
}

/*** DISCLAIMER ***************************/

#disclaimer {
    grid-area: disclaimer;
    border-top: 1px solid #D9B310;
    background-color: #1D2731;
}

#disclaimer .content {
    display: grid;
    margin: 0 auto;
    width: 960px;
    height: 3rem;
    align-items: center;
    color: #D9B310;
    text-align: center;
}