#cac {
    flex: 1;
}

#cac .bar {
    display: flex;
    align-items: center;
    margin: 1rem 0;
    padding: 1rem;
    justify-content: center;
    background-color: #ffffff;
}

#cac .bar > div {
    margin: 0 0.5rem;
    border: 1px solid #ccc;
    padding: 0.5rem 1rem;
}

#cac .header {
    padding: 1rem;
    margin-bottom: 1rem;
    display: flex;
    justify-content: space-around;
    align-content: center;
}

#cac .header div {
    min-width: 10rem;
}

.cac-btn {
    position: relative;
    min-width: 10rem;
    margin-bottom: 1rem;
    margin-right: 1rem;
    box-shadow: 2px 2px 3px 0px #cccccc;
}
.cac-btn .cac-btn-content {
    position: relative;
    z-index: 2;
}
.cac-btn .cac-btn-progress-bar {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
    /* height: 0.25rem; */
    transition-duration: 1s;
    background-color: #aaccee;
}

#cac .player .btn .label {
    font-size: 1.25rem;
}
#cac .player .btn .cost {
    font-size: 0.9rem;
}
#cac .player .btn .time {
    position: absolute;
    top: -8px;
    right: -8px;
    background-color: #ff7518;
    width: 2rem;
    border-radius: 2rem;
    height: 2rem;
    line-height: 1.9rem;
}

#cac .btn-group {
    display: block;
}

#cac .events {
    background-color: #ffffff;
    height: 14rem;
    overflow-y: scroll;
    color: #000000;
}

#cac .lobby {
    display: flex;
    justify-content: center;
    background-color: #ffffff;
}

#cac .player {
    background-color: #ffffff;
    padding: 2rem;
}

#cac .player .treasury {
    font-size: 1.25em;
}

#cac .player .treasury .coins {
    color: #ff7518;
}

#cac .player .treasury .cps {
    color: #3fb618;
}

#cac .player .city {
    display: grid;
    grid-template-columns: 10rem 10rem 100%;
    grid-template-areas: "info bonuses interaction";
    margin-top: 2rem;
}

#cac .player .city .info {
    grid-area: info;
}

#cac .player .city .bonuses {
    grid-area: bonuses;
}

#cac .player .city .interaction {
    grid-area: interaction;
}

#cac .player .army {
    display: grid;
    grid-template-columns: 10rem 10rem 100%;
    grid-template-areas: "info bonuses interaction";
    margin-top: 2rem;
}

#cac .player .army .info {
    grid-area: info;
}

#cac .player .army .bonuses {
    grid-area: bonuses;
}

#cac .player .army .interaction {
    grid-area: interaction;
}

