
#wesketch {
    position: relative;
    background-color: #3F556A;
    height: 100%;

    margin: 0;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 34rem 4rem 19rem;
    grid-template-areas:
        "painter"
        "infobar"
        "chat";
}

#wesketch.debug-mode {
    background-color: crimson;
}

/*** INFOBAR ***************************/

#info-bar {
    grid-area: infobar;
    display: flex;
    color: #ffffff;
    background-color: #1D2731;
    position: relative;
}

#info-bar .info-bar-container { 
    z-index: 1;
    flex: 1;
    display: grid;
    grid-template-columns: 12rem 16rem 4rem 16rem 12rem;
    align-items: center;
}

#info-bar .info-col {
    flex: 1;
}

#info-bar .info-col-1 {
    padding-left: 1rem;
}

#info-bar .info-col-2 {
    text-align: right;
    padding-right: 1rem;
}

#info-bar .info-col-3 {
    text-align: center;
    height: 100%;
}

#info-bar .info-col-4 {
    padding-left: 1rem;
}

#info-bar .info-col-5 {
    text-align: right;
    padding-right: 1rem;
}

#info-bar .info-hint .label {
    margin-right: 0.5rem;
}

#info-bar .info-hint .character {
    margin-right: 0.25rem;
}

#info-bar .info-timer-number {
    height: 100%;
    background-color: #0B3C5D;
    border-radius: 4rem;
    font-size: 2rem;
    line-height: 3.75rem;
}

#info-bar .info-options div {
    margin-right: 0.5rem;
}

#info-bar .info-options div:last-child {
    margin: 0;
}

#timer {
    height: 3rem;
    position: absolute;
    left: 0;
    right: 0;
    top: 0.5rem;
}

#timer .timer-bar {
    height: 3rem;
    background-color: #0B3C5D;
    transition-duration: 0.5s;
}

/*** CHAT ***************************/

#chat {
    grid-area: chat;
    flex: 1;
    display: flex;
}

#chat .players {
    width: 12rem;
    color: #ffffff;
}

#chat .players .player {
    display: grid;
    grid-template-columns: auto 2rem;
    background-color: #304050;
    transition-duration: 0.5s;
    padding: 0.5rem;
    text-align: right;
    margin-bottom: 0.25rem;
}

#chat .players .player:last-child {
    border: none;
}

#chat .players .player-score {
    display: inline-block;
    width: 2rem;
    text-align: center;
    font-weight: 500;
}

#chat .players .player-ready {
    background-color: #5F80A0;
}

#chat .players .player-guessed-word {
    background-color: #46A263;
}

#chat .players .player-is-drawing {
    background-color: #A24689;
}

#chat .messages-and-form {
    flex: 1;
}
    
#chat .messages {
    background-color: #ffffff;
    height: 14rem;
    border: 1px solid #333;
    overflow-y: scroll;
    padding: 1rem;
    color: #000000;
}

#chat .messages .system-message {
    font-style: italic;
    color: #666;
}

/*** PAINTER ***************************/

#painter {
    grid-area: painter;
    position: relative;
    background-color: #ccc;
}

#painter.can-draw {
    background-color: #aaccee;
}

#painter canvas {
    cursor: crosshair;
    background-color: white;
}
/* .brush-1px {
    cursor: url(./cursors/brush-1-px.png), auto;
}
.brush-5px {
    cursor: url(./cursors/brush-5-px.png), auto;
}
.brush-9px {
    cursor: url(./cursors/brush-9-px.png), auto;
}
.brush-13px {
    cursor: url(./cursors/brush-13-px.png), auto;
}
.brush-17px {
    cursor: url(./cursors/brush-17-px.png), auto;
} */
#painter .tools-wrapper {
    background-color: #1D2731;

}

#painter .tools {
    display: flex;
    flex-direction: column;
    position: absolute;
    align-content: space-evenly;
    top: 1rem;
    right: 1rem;
    background-color: #0B3C5D;
    display: grid;
    /* user-select: none;  */
    padding-top: 1rem;
}

#painter .tools .header {
    height: 1.5rem;
    padding: 0.25rem;
    display: grid;
    align-items: center;
    justify-items: center;
    background-color: #1D2731;
}

#painter .tools .header img {
    width: 2rem;
}


#painter .tools .button {
    width: 2rem;
    height: 2rem;
    font-size: 2rem;
    border-radius: 1rem;
    margin: 0.25rem 0.5rem;
    color: #ffffff;
    cursor: pointer;
}

#painter .tools .button:first-child {
    margin-top: 0.5rem;
}


#painter .colors {
    display: flex;
    flex-wrap: wrap;
}

#painter .button.current-color {
    box-shadow: 
        inset 0.2em 0.2em rgba(0, 0, 0, 0.2), 
        0 0 0 0.2rem #1D2731;
}

#painter .current-painter-panel {
    text-align: center;
    margin-top: 1rem;
    background-color: #405d70;
    color: #ffffff;
    padding: 1rem;
}

#painter .current-painter-panel .current-word {
    font-size: 1.5rem;
    text-transform: uppercase;
}

#painter .debug {
    position: absolute;
    bottom: 1rem;
    left: 1rem;
}

/*** DEBUG ***************************/

#debug {
    position: fixed;
    top: 1rem;
    left: 1rem;
    max-width: 50%;
}

#debug .info {
    background-color: #f8d7daab;
    padding: 0.5rem 1rem;
    font-size: 75%;
}

#debug .events {
    background-color: #f8ead7ab;
    padding: 0.5rem 1rem;
    font-size: 75%;
}
