
#wesketch {
    position: relative;
    background-color: #3F556A;
    height: 100%;

    margin: 0;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 34rem 4rem 19rem;
    grid-template-areas:
        "painter"
        "infobar"
        "chat";
}

#wesketch.debug-mode {
    background-color: crimson;
}

/*** LOBBY ***************************/

#phase-lobby {
    background-color: #ffffff;
    padding: 4rem;
    display: flex;
    justify-content: space-between;
}

#phase-lobby > div {
    width: 48%;
}

#phase-lobby .game-rules {
    background-color: aliceblue;
    padding: 2rem;
}

#phase-lobby .lobby-ready-check {
    display: flex;
    align-items: center;
}

/*** GAME END ***************************/

#phase-game-end {
    background-color: #ffffff;
    padding: 4rem;
}

/*** DRAWINGS ***************************/

#drawings {
    background-color: #ffffff;
}

#drawings .carousel-caption {
    color: #333;    
}

#drawings .carousel-control-next,
#drawings .carousel-control-prev {
    background-color: #1D2731;
}

/*** INFOBAR ***************************/

#info-bar {
    grid-area: infobar;
    display: flex;
    color: #ffffff;
    background-color: #1D2731;
    position: relative;
}

#info-bar .info-bar-container { 
    z-index: 1;
    flex: 1;
    display: grid;
    grid-template-columns: 12rem 16rem 4rem 16rem 12rem;
    align-items: center;
}

#info-bar .info-col {
    flex: 1;
}

#info-bar .info-col-1 {
    padding-left: 1rem;
}

#info-bar .info-col-2 {
    text-align: right;
    padding-right: 1rem;
}

#info-bar .info-col-3 {
    text-align: center;
    height: 100%;
}

#info-bar .info-col-4 {
    padding-left: 1rem;
}

#info-bar .info-col-5 {
    text-align: right;
    padding-right: 1rem;
}

#info-bar .info-hint .label {
    margin-right: 0.5rem;
}

#info-bar .info-hint .character {
    margin-right: 0.25rem;
}

#info-bar .info-timer-number {
    height: 100%;
    background-color: #0B3C5D;
    border-radius: 4rem;
    font-size: 2rem;
    line-height: 3.75rem;
}

#info-bar .info-options div {
    margin-right: 0.5rem;
}

#info-bar .info-options div:last-child {
    margin: 0;
}

#timer {
    height: 3rem;
    position: absolute;
    left: 0;
    right: 0;
    top: 0.5rem;
}

#timer .timer-bar {
    height: 3rem;
    background-color: #0B3C5D;
    transition-duration: 0.5s;
}

/*** CHAT ***************************/

#chat {
    grid-area: chat;
    flex: 1;
    display: flex;
}

#chat .players-wrapper {
    display: flex;
    flex-direction: column;
    width: 12rem;
}

#chat .players {
    height: 14rem;
    color: #ffffff;
    margin: 0 0.25rem;
}

#chat .players .player {
    display: grid;
    grid-template-columns: auto 2rem;
    background-color: #304050;
    transition-duration: 0.5s;
    padding: 0.5rem;
    text-align: right;
    margin-bottom: 0.25rem;
}

#chat .players .player:last-child {
    border: none;
}

#chat .players .player-score {
    display: inline-block;
    width: 2rem;
    text-align: center;
    font-weight: 500;
}

#chat .players .player-ready {
    background-color: #5F80A0;
}

#chat .players .player-guessed-word {
    background-color: #46A263;
}

#chat .players .player-is-drawing {
    background-color: #A24689;
}

#chat .im-ready {
    margin: 0 0.25rem;
}

#chat .im-ready img {
    position: absolute;
    right: 0;
    width: 2rem;
    height: 2rem;
    top: 0;    
}

#chat .messages-wrapper {
    flex: 1;
}
    
#chat .messages {
    background-color: #ffffff;
    height: 14rem;
    border: 1px solid #333;
    overflow-y: scroll;
    padding: 1rem;
    color: #000000;
}

#chat .messages .system-message {
    font-style: italic;
    color: #666;
}

/*** PAINTER ***************************/

#painter {
    grid-area: painter;
    position: relative;
    background-color: #ccc;
}

#painter.can-draw {
    background-color: #aaccee;
}

#painter canvas {
    background-color: white;
}
.paint-cursor-1 {
    cursor: url(../../Images/paint-cursor-1.png), auto;
}
.paint-cursor-3 {
    cursor: url(../../Images/paint-cursor-3.png), auto;
}
.paint-cursor-6 {
    cursor: url(../../Images/paint-cursor-6.png), auto;
}
.paint-cursor-9 {
    cursor: url(../../Images/paint-cursor-9.png), auto;
}
.paint-cursor-12 {
    cursor: url(../../Images/paint-cursor-12.png), auto;
}
.paint-cursor-15 {
    cursor: url(../../Images/paint-cursor-15.png), auto;
}
.paint-cursor-18 {
    cursor: url(../../Images/paint-cursor-18.png), auto;
}
.paint-cursor-21 {
    cursor: url(../../Images/paint-cursor-21.png), auto;
}
.paint-cursor-24 {
    cursor: url(../../Images/paint-cursor-24.png), auto;
}

#painter .tools {
    display: flex;
    flex-direction: column;
    position: absolute;
    align-content: space-evenly;
    top: 1rem;
    right: -5rem;
    background-color: #0B3C5D;
    display: flex;
    padding: 0.75rem 0.25rem;
    border: 3px solid #333;
}

#painter .tools .header {
    height: 1.5rem;
    padding: 0.25rem;
    display: grid;
    align-items: center;
    justify-items: center;
    background-color: #1D2731;
}

#painter .tools .header img {
    width: 2rem;
}


#painter .tools .button {
    width: 2rem;
    height: 2rem;
    text-align: center;
    font-size: 2rem;
    border-radius: 1rem;
    margin: 0.25rem 0.5rem;
    color: #ffffff;
    cursor: pointer;
}

#painter .tools .brush {
    position: relative;
}

#painter .tools .brush span {
    font-size: 14px;
    position: absolute;
    left: -2px;
    top: -2px;
    font-family: monospace;
    width: 16px;
    text-align: center;
}

#painter .colors {
    display: flex;
    flex-wrap: wrap;
}

#painter .tools .button:hover {
    box-shadow: 
        inset 0.2em 0.2em rgba(0, 0, 0, 0.2), 
        0 0 0 0.2rem #09314ccc;
}

#painter .button.current-color {
    box-shadow: 
        inset 0.2em 0.2em rgba(0, 0, 0, 0.2), 
        0 0 0 0.2rem #1D2731!important;
}

#painter .current-painter-panel {
    text-align: center;
    margin-top: 1rem;
    background-color: #405d70;
    color: #ffffff;
    padding: 1rem;
}

#painter .current-painter-panel .current-word {
    font-size: 1.5rem;
    text-transform: uppercase;
}

/*** DEBUG ***************************/

#debug {
    position: fixed;
    left: 1rem;
    max-width: 50%;
}

#debug.debug-painter {
    top: 14rem;
}

#debug.debug-info-bar {
    top: 24rem;
}

#debug i.toggler {
    padding: 0.5rem;
    font-size: 1rem;
}

#debug .info {
    background-color: #f8d7daab;
    padding: 0.5rem;
    font-size: 75%;
}

#debug .players {
    background-color: #d7f8daab;
    padding: 0.5rem;
    font-size: 75%;
}

#debug .events {
    background-color: #f8ead7ab;
    padding: 0.5rem;
    font-size: 75%;
}
