.center-cropped {
    width: 100%;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

#mdk {
    margin: 1rem auto;
}

#mdk .week-menu {
    display: flex;
    justify-content: space-around;
}

#mdk .week-menu-item {
    width: 11rem;
    cursor: pointer;
    background-color: whitesmoke;
    display: grid;
    grid-template-rows: 2rem 8rem 5rem 2rem;
    align-items: center;
}

#mdk .week-menu-item.drag-over, 
#mdk .week-menu-item.selected {
    background-color: #e2e2e2;
    border: 4px solid #afafaf;
}

#mdk .week-menu-item .day-name {
    text-align: center;
    text-transform: uppercase;
}

#mdk .week-menu-item .recipe-name {
    padding: 1rem 0;
    text-align: center;
    text-transform: uppercase;
    font-weight: 500;
}

#mdk .week-menu-item .week-thumbnail {
    height: 8rem;
    display: grid;
}

#mdk .week-menu-item .week-thumbnail img {
    width: 3rem;
    justify-self: center;
    margin-top: 3rem;
}

#mdk .week-menu-item .recipe-meta {
    justify-self: center;
    font-size: 0.8rem;
}

#mdk .search-thumbnail {
    height: 50px;
}

#mdk .shopping-list ul {
    columns: 4;
    list-style: none;
}

#mdk .search-filters {
    display: grid;
    grid-template-columns: 20rem auto 20rem;
    background-color: #f1f1f1;
    padding: 0.75rem 0;
}

#mdk .search-filters > div {
    align-self: center;
    text-align: center;
}

#mdk .search-filters .filter-time {
    padding: 5px 0;
}

#mdk .search-filters .filter-time > * {
    vertical-align: middle;
}

#mdk .search-filters .filter-tags > * {
    border-radius: 0.25rem;
    margin: 0.25rem;
    padding: 0.5rem;
}

#mdk .search-filters .filter-tags > *.selected {
    background-color: green;
}


#mdk .search-result {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#mdk .search-result div {
    position: relative;
    width: 8rem;
    height: 8rem;
    margin: 0.5rem;
    cursor: pointer;
}

#mdk .search-result div h1 {
    font-size: 1em;
    position: absolute;
    top: 0.5rem;
    left: 0.5rem;
    right: -0.5rem;
    overflow: hidden;
    z-index: 1;
    text-align: center;
    text-shadow: 1px 1px 1px #000;
    color: #fff;
    font-weight: 500;
    padding: 0.3rem;
}