#mdk {
    margin: 1rem auto;
}

/*** HEADER ***************************/

#mdk .header {
    text-align: center;
}

#mdk .header .title {
    font-size: 1.875rem;
}

#mdk .header-options {
    text-align: center;
    margin-bottom: 2rem;
}

/*** WEEK MENU ***************************/

#mdk .week-menu {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 2rem;
    height: 20rem;
}

#mdk .week-menu-item {
    width: 12rem;
    height: 18rem;
    cursor: pointer;
    background-color: whitesmoke;
    display: grid;
    grid-template-rows: 2rem 8rem 5rem 2rem;
    align-items: center;
}

#mdk .week-menu-item:first-child {
    border: none;
}

#mdk .week-menu-item.drag-over, #mdk .week-menu-item.selected {
    background-color: #e2e2e2;
    transition-duration: 0.25s;
}

#mdk .week-menu-item .day-name {
    text-align: center;
    text-transform: uppercase;
}

#mdk .week-menu-item .recipe-name {
    padding: 1rem 0.5rem;
    text-align: center;
    text-transform: uppercase;
    font-weight: 500;
}

#mdk .week-menu-item .week-thumbnail {
    height: 8rem;
    display: grid;
}

#mdk .week-menu-item .week-thumbnail img {
    width: 3rem;
    justify-self: center;
    margin-top: 3rem;
}

#mdk .week-menu-item .recipe-meta {
    justify-self: center;
    font-size: 0.8rem;
}

#mdk .shopping-list {
    background-color: whitesmoke;
    margin-bottom: 2rem;
    padding: 1rem;
}

#mdk .shopping-list h1 {
    font-size: 1.5rem;
    text-transform: uppercase;
}

#mdk .shopping-list .list {
    display: flex;
}

#mdk .shopping-list .list .list-group {
    margin: 0.25rem;
    min-width: 8rem;
}

#mdk .shopping-list .list .list-group h1 {
    font-size: 1rem;
    font-weight: 700;
}

/*** SEARCH FILTERS ***************************/

#mdk .filters {
    display: grid;
    grid-template-columns: 16rem 16rem auto;
    background-color: whitesmoke;
    margin: 0 -1.5rem 0 -1.5rem;
    padding: .5rem;
}

#mdk .filters .filter-search input {
    padding: 0.25rem 0.5rem;
    border: 2px solid #cccccc;
    border-radius: 4px;
}

#mdk .filters>div {
    align-self: center;
    text-align: center;
}

#mdk .filters .filter-time {
    padding: 5px 0;
}

#mdk .filters .filter-time>* {
    vertical-align: middle;
}

#mdk .filters .filter-tags>* {
    border-radius: 0.25rem;
    margin: 0.25rem;
    padding: 0.5rem;
    cursor: pointer;
}

#mdk .filters .filter-tags>*.selected {
    background-color: green;
}

#mdk .paging,
#mdk .filter-options {
    display: inline-block;
}

#mdk .paging a,
#mdk .filter-options a {
    padding: 0.25rem 0.5rem;
    margin: 0 0.25rem;
    border: 1px solid #373a3c;
    border-radius: 0.25rem;
    color: #333;
}

#mdk .advanced-filters {
    background-color: #e5e5e5;
    padding: 0.75rem 0;
    margin: 0 -1.5rem 0 -1.5rem;
    text-align: center;
}

#mdk .advanced-filters h1 {
    font-size: 1.5rem;
    text-transform: uppercase;
}

/*** SEARCH RESULT ***************************/

#mdk .result {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 2rem;
}

#mdk .result>div {
    position: relative;
    width: 7rem;
    height: 7rem;
    cursor: pointer;
    margin: 0.5rem;
    box-shadow: 0 2px 4px -1px rgba(0, 0, 0, .2), 0 4px 5px 0 rgba(0, 0, 0, .14), 0 1px 10px 0 rgba(0, 0, 0, .12);
    transition: box-shadow .28s cubic-bezier(.4, 0, .2, 1);
}

#mdk .result>div:hover {
    box-shadow: 0 11px 15px -7px rgba(0, 0, 0, .2), 0 24px 38px 3px rgba(0, 0, 0, .14), 0 9px 46px 8px rgba(0, 0, 0, .12);
}

#mdk .result>div .image {
    height: 100%;
}

#mdk .result>div h1 {
    font-size: 1em;
    position: absolute;
    top: 0.5rem;
    left: 0.5rem;
    right: -0.5rem;
    overflow: hidden;
    z-index: 1;
    text-align: center;
    text-shadow: 1px 1px 1px #000;
    color: #fff;
    font-weight: 500;
    padding: 0.3rem;
}

#mdk .result .recipe-link {
    position: absolute;
    bottom: 0;
    right: 2px;
    color: #fff;
}