#word-list {
    padding: 1rem 3rem;
}

#word-list .filters {
    display: flex;
    align-items: center;
    flex-direction: column;
}

#word-list .meta {
    margin: 1rem;
    text-transform: uppercase;
    text-align: center;
    color: gray;
}

#word-list .result {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#word-list .result .word {
    position: relative;
    cursor: pointer;
    padding: 0.5rem;
    width: 6rem;
    text-overflow: ellipsis;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    margin: 0 .25rem .5rem .25rem;
}

#word-list .badge {
    cursor: pointer;
}

#word-list .badge.selected {
    background-color: cadetblue;
}